@import "tailwindcss";

@theme {
  --color-brand-red: #E53935;
  --color-bg-main: #0a0a0a;
  --color-bg-card: #141414;
  --color-border-card: #222222;
}

body {
  background-color: var(--color-bg-main);
  color: #ffffff;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}